* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  top: 30px;
  position: relative;
}

.heading {
  display: flex;
  flex-direction: column-reverse;
  font-style: italic;
  align-items: center;
  text-align: center;
}

main {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
    
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

footer {
  width: 93%;
  margin: 0 auto;
}

nav {
  width: 100%;

}
ul {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 30px;
  width: fit-content;
  font-size: 14px;
}

li {
  list-style: none;
  width: fit-content;
}

.github img {
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.rs-logo img {
   width: 50px;
   height: 20px;
   cursor: pointer;
}


